.header__social {
    ul {
        display: flex;
        gap: 0 18px;
        flex-wrap: wrap;
        align-self: center;
        li {
            flex-wrap: wrap;
            display: flex;
            gap: 0 6px;
            align-self: end;
        }
        a {
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            color: #5558fa;
        }
    }
}
