.circleTick {
    width: 16px;
    height: 16px;
    background: #5558fa;
    border-radius: 50%;
    position: relative;
    img {
        top: 4px;
        left: 3px;
        width: 10px;
        height: 8px;
        position: absolute;
    }
}
.number {
    color: #5558FA;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    position: absolute;
    top: 25px;
    left: 4px;
}
