.inputContainer {
    margin-bottom: 65px;
}

.buttons {
    padding-top: 35px;
    display: flex;
    justify-content: space-between;
}

.error {
    font-size: 10px;
    height: 10px;
    color: red;
    margin-bottom: 30px;
}
.inputSelectLabel {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.48);
}
