.inputContainer {
    margin-bottom: 52px;
}

.buttons {
    margin-top: 12px;
    padding-top: 35px;
    display: flex;
    justify-content: space-between;
}

.error {
    margin-top: 8px;
    height: 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: red;
}
.inputSelectLabel {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.48);
}
