form {
}

.inputContainer {
    margin-bottom: 65px;
}

.buttons {
    padding-top: 35px;
    display: flex;
    justify-content: space-between;
}

.error {
    font-size: 10px;
    height: 10px;
    color: red;
    margin-bottom: 30px;
}
