* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
.App {
    color: #333333;
    background: #f4f4f5;
    width: 100%;
    max-width: 1336px;
    margin: 0 auto;
    padding: 24px 10px 0 10px;
    min-height: 2000px;
}
.App-container {
    background: #ffffff;
    border-radius: 12px 12px 0 0;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: inherit;
}
button {
    background: transparent;
    border: none;
    cursor: pointer;
}
