.inputBox {
    position: relative;
    max-width: 400px;
    width: 100%;
}
.label {
    position: absolute;
    top: -27px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}
.sublabel {
    position: absolute;
    bottom: -24px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.48);
}
